version: "3.9"

services:
  raise_cdt:
    image: istc_raisecdt:latest
    container_name: istc_coco_cdt
    ports:
      - "18080:8080"
    secrets:
      - fcm_json
      - llm_api_key
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - MONGODB_HOST=${MONGODB_HOST}
      - MONGODB_USER=${MONGODB_USER}
      - MONGODB_PASSWORD=${MONGODB_PASSWORD}
      - MQTT_HOST=${MQTT_HOST}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    networks:
      - mongodb_single_network
      - mosquitto_net
      - postgis_net
      - gravitee_net
    restart: unless-stopped

networks:
  mongodb_single_network:
    external: true
  mosquitto_net:
    external: true
  postgis_net:
    external: true
  gravitee_net:
    external: true

secrets:
  fcm_json:
    external: true
  llm_api_key:
    external: true