services:
  # raise-keycloak: # Keycloak service
  #   container_name: raise-keycloak
  #   build:
  #     context: ./keycloak
  #   networks:
  #     - raise-net
  #   ports:
  #     - "8443:8443"
  #   environment:
  #     KC_BOOTSTRAP_ADMIN_USERNAME: admin
  #     KC_BOOTSTRAP_ADMIN_PASSWORD: admin
  #     KC_DB: postgres
  #     KC_DB_URL_HOST: raise-postgres
  #     KC_DB_URL_PORT: 5432
  #     KC_DB_USERNAME: account
  #     KC_DB_PASSWORD: yourpassword
  #     KC_DB_URL_DATABASE: raise_db
  #     KC_HOSTNAME: localhost
  #     COCO_API_URL: http://raise-cdt:8080
  #   restart: unless-stopped

  raise-swagger-ui: # Swagger UI service
    container_name: raise-swagger-ui
    image: swaggerapi/swagger-ui
    networks:
      - raise-net
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON_URL: http://localhost:8080/openapi
    restart: unless-stopped

  raise-mongo: # MongoDB service
    container_name: raise-mongo
    image: mongo
    networks:
      - raise-net
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    restart: unless-stopped

  raise-mqtt: # MQTT broker service
    container_name: raise-mqtt
    image: eclipse-mosquitto
    networks:
      - raise-net
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: unless-stopped

  raise-cdt: # CoCo service
    depends_on:
      - raise-mongo
      - raise-mqtt
    container_name: raise-cdt
    build:
      context: .
      args:
        - MONGODB_HOST=raise-mongo
        - MQTT_HOST=raise-mqtt
    networks:
      - raise-net
    ports:
      - "8080:8080"
    environment:
      - FCM_PROJECT_ID=${FCM_PROJECT_ID}
      - FCM_CLIENT_EMAIL=${FCM_CLIENT_EMAIL}
      - FCM_PRIVATE_KEY=${FCM_PRIVATE_KEY}
      - LLM_API_KEY=${LLM_API_KEY}
    restart: unless-stopped

networks:
  raise-net: